<!-- <app-courses></app-courses> -->
<app-navbar></app-navbar>

<router-outlet></router-outlet>
<app-footer></app-footer>


	  <!-- <form class="navbar-form navbar-left" action="action=">
		<div class="input-group">
		  <input type="text" class="form-control" placeholder="Search" name="search">
		  <div class="input-group-btn">
			<button class="btn btn-default" type="submit">
			  <i class="glyphicon glyphicon-search"></i>
			</button>
		  </div>
		</div> -->

<!-- <li *ngFor="let item of data">
	{{item}} 
</li> -->



